@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "../themes/light.css";
  @import "../themes/dark.css";
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: var(--color-background);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.recharts-responsive-container .recharts-text {
  fill: #999;
  font-size: 14px;
}

ul li {
  &:hover {
    a,
    svg,
    .label {
      color: #999;
      transition: color 0.3s ease;
    }
  }
}

.theme-text-hover {
  &:hover {
    svg,
    .label {
      color: #999;
      transition: color 0.3s ease;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
