html[data-theme="dark"] {
  --color-primary: #55459E;
  --color-primary-50: #333333;
  --color-primary-100: #4d4d4d;
  --color-primary-200: #666666;
  --color-primary-300: #808080;
  --color-primary-400: #999999;
  --color-primary-500: #b3b3b3;
  --color-primary-600: #d1d1d1;
  --color-primary-700: #e6e6e6;
  --color-primary-800: #f2f2f2;
  --color-primary-900: #ffffff;

  --color-typo: #e4e6eb;
  --color-typo-50: #ffffff;
  --color-typo-100: #ffffff;
  --color-typo-200: #ffffff;
  --color-typo-300: #ffffff;
  --color-typo-400: #ffffff;
  --color-typo-500: #e4e6eb;
  --color-typo-600: #58C6FF;
  --color-typo-700: #EE4075;
  --color-typo-800: #97a0a8;
  --color-typo-900: #7a838d;

  --color-sidebar: #2C2351;
  --color-background: #392C6A;
  --color-progressbg: #2C2351;

  --color-gradient: #3D4A7C;
  --color-gradient-50: #7E49A8;

  --color-border: #383838;
}
